{
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["prettier", "prettier/standard"],
  "plugins": ["prettier", "standard"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0
  }
}
